@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

.technology {
    width: 100%;
    min-height: 100vh;
    background-color: black;
    background-image: url(../../images/Technology.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .technologyMain {
        width: 100%;
        height: 75vh;
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;
        padding-left: 150px;
        padding-right: 0;

        &>h2 {
            display: flex;
            align-items: center;
            gap: 15px;
            color: white;
            font-family: "Barlow Condensed", sans-serif;
            font-style: normal;
            text-transform: uppercase;
            font-size: 28px;
            font-weight: 400;
            letter-spacing: 4.7px;
            text-align: start;
            width: 100%;

            &>p {
                color: gray;
                font-weight: 600;
            }
        }

        .technologyContent {
            width: 100%;
            min-height: 60vh;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 50px;

            .mobileImg {
                display: none;
            }

            .technologyImg {
                width: 450px;
                height: 530px;
                object-fit: cover;
            }

            &>ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 30px;

                &>a {
                    width: 70px;
                    height: 70px;
                    font-size: 25px;
                    border: 1px solid white;
                    color: white;
                    border-radius: 50%;
                    opacity: .8;
                    transition: .5s;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &>a:hover {
                    background-color: rgb(206, 204, 204);
                    color: black;
                }

                &>a.active {
                    opacity: 1;
                    background-color: white;
                    color: black;
                }

            }

            .technologyTexts {
                display: flex;
                flex-direction: column;
                width: 50%;
                text-align: start;


                &>h3 {
                    color: gray;
                    text-transform: uppercase;
                    margin: 0;
                    padding: 0;
                    font-size: 16px;
                }

                &>h1 {
                    margin: 0;
                    padding: 0;
                    color: white;
                    font-size: 56px;
                    font-family: "Bellefair", serif;
                    font-weight: 400;
                    font-style: normal;
                    text-transform: uppercase;
                }

                &>p {
                    color: gray;
                    font-family: "Barlow", sans-serif;
                    font-weight: 400;
                    font-style: normal;
                    line-height: 32px;
                }
            }
        }
    }
}

@media only screen and (max-width: 950px) {
    .technology {
        overflow: auto;
        padding-bottom: 100px;

        .technologyMain {
            gap: 20px;
            justify-content: center;
            align-items: center;
            padding-left: 0;
            margin-top: 30px;

            &>h2 {
                padding-left: 30px;
            }

            .technologyContent {
                width: 100%;
                min-height: 30vh;
                flex-direction: column;


                .technologyImg {
                    display: none;
                }

                .mobileImg {
                    display: block;
                    width: 100%;
                    height: 310px;
                }

                &>ul {
                    flex-direction: row;
                }

                .technologyTexts {
                    align-items: center;
                    text-align: center;
                    width: 80%;
                    padding-bottom: 100px;

                    &>h1 {
                        font-size: 40px;
                    }

                    &>p {
                        font-size: 16px;
                        line-height: 28px;
                    }

                }
            }
        }
    }
}